<mat-card>
  <mat-card-header>
    <h2>Sign-In</h2>
  </mat-card-header>
  <form class="form" (submit)="doLogin()">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput placeholder="Email" [formControl]="emailControl"
               [errorStateMatcher]="matcher" />
        <mat-hint>user@example.com</mat-hint>
        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Password" type="password" [formControl]="passwordControl" />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">LOGIN</button>
      <button mat-raised-button>SIGN-UP</button>
    </mat-card-actions>
  </form>
  <mat-card-footer>
    <span class="quote">Example of Angular authentication module.</span>
  </mat-card-footer>
</mat-card>
