/* You can add global styles to this file, and also import other style files */
@import "assets/sass/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, SansSerif;
    font-weight: 400;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.quote {
  font-size: $size-sm;
  font-style: italic;
}
