$size-sm: 10px;
$size-md: 14px;
$size-lg: 18px;

$black: #000;
$black-2: #212121;
$black-3: #3a3a3a;
$gray-1: #555;
$gray-2: #717171;
$gray-3: #777;
$gray-4: #939393;
$white-1: #9c9c9c;
$white-2: #a9a9a9;
$white-3: #eaeaea;
$white: #fff;
